<div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-6">
  <div class="bg-white border border-gray-300 rounded-lg p-6 flex flex-col h-full">
    <h2 class="text-xl font-semibold mb-2"><%= survey.question %></h2>
    <p class="text-gray-500 mb-4">Modified <%= survey.updated_at.strftime("%m/%d/%Y") %></p>
    <p class="text-gray-500 font-semibold mb-4 inline-flex items-center">
      Responses: <%= survey.survey_result.responses_count %>
    </p>

    <%= link_to 'Start Survey', new_survey_survey_response_path(survey), class: 'w-full border border-gray-300 text-gray-700 py-2 rounded-md hover:bg-gray-100 block text-center mt-4 mt-auto' %>
  </div>
</div>
