<div class="bg-gray-100 flex flex-col justify-center items-center h-screen p-8">
  <%= render 'shared/back_button', back_path: surveys_path %>

  <%= render 'form', survey: @survey, survey_response: @survey_response %>
</div>
